@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

    /* css variables */
    --main-color: #ffc043;
    --main-color-light: #ffd480;
    --main-color-very-light: #ffffff;
    --selected-font-color: rgb(78, 78, 78);
    --unselected-font-color: rgb(167, 167, 167);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(220, 220, 220);
}